body{
    background-color:black;
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
header{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border-radius: 20px;
    color: red;
    line-height: 1px;
}

h1{
    font-family: 'Hong Kong Hustle 3D';
    font-size: 5em;
    word-spacing: 5px;
    margin-left:10px ;
}

h3{
    font-family: '5x5 Pixel';
    color: white;
}



#dstqterceirop{
    font-weight: bold;
    color: red;
}
main{

    margin-top: 3em;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;    
    color:lawngreen;;
}

#magia{
    color: black;
}

#magia:hover{
    color: lawngreen;
}

#magia:hover::before{
    content: "🌟";
}
#tecnologia{
    color: lawngreen;

}

.keywords ul{
    display: flex;}

.keywords ul li{
    color: black;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 25px;
    font-size:12px;

}

#start{
    font-family: '5x5 Pixel';
    font-size: 12px;
    padding: 10px 0;
    
    width:25%;
    height: 15%;
    border: none;
    background-color: red;
    color: white;
    font-size: 2em;
    border-radius: 20px;
    margin-top: 2em;
    transition: 1s;
}

#start:hover{
    transform: scale(1.1);
}


